# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET Build And Test

on:
  push:
    branches: [ "main", "develop" ]
    paths: [ "*.sln", "*.props", "src/**", "test/**", ".github/workflows/**" ]
  pull_request:
    branches: [ "main", "develop" ]
    paths: [ "*.sln", "*.props", "src/**", "test/**", ".github/workflows/**" ]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build -p:Threshold=\"95,90,95\"
    - name: Code Coverage Report
      if: always()
      run: |
        dotnet tool install --global dotnet-reportgenerator-globaltool
        reportgenerator -reports:**/coverage.cobertura.xml -targetdir:TestResults -reporttypes:MarkdownSummaryGithub -title:"Code Coverage"
        cat ./TestResults/*.md >> $GITHUB_STEP_SUMMARY
